* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f0f2f5;
}



/* TABS */
.tabs {
  display: flex;
  gap: 15px;
  margin-bottom: 50px;
}

.tab {
  background-color: #0e0e50;
  color: white;
  border: none;
  padding: 15px 20px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
}

.tab:hover {
  background-color: #444466;
}

/* GRID */
.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 25px;
}

/* CARD */
.card {
  background: #d9d9d9;
  border-radius: 10px;
  overflow: hidden;
  transition: transform 0.2s ease;
}

.card:hover {
  transform: translateY(-5px);
}
/* BODY */
.card-body {
  padding: 15px;
}

.card-body h3 {
  font-size: 15px;
  margin-bottom: 8px;
}

.card-body p {
  color: teal;
  font-size: 13px;
}
/* TOP BAR (dark header like design) */
.card-top {
  height: 60px;
  background-color: teal;
  justify-content: center;
  align-items: center;
  padding: 12px 0;
}

.card-icon {
  color: #0a086d; 
}
/* TITLE */
.page-title {
  
  margin-bottom: 20px;
}